@page "/users/{id:int}"

<PageTitle>User @user?.Name</PageTitle>

<h3>User @Id</h3>


@if (user == null)
{
    <LoadingComponent />
}

else
{
    <div>
        <p>@user.Name</p>
        <p>@user.UserName</p>
        <p>@user.Phone</p>
        <p>@user.Website</p>
    </div>
}


<div>
    <NavLink href="users" class="btn btn-primary">Go to Users</NavLink>

    <button class="btn btn-secondary" @onclick="NavigateToUsersAsync">Navigate to Users</button>
</div>


