@page "/users"

@inject JsonPlaceholderService Api

<h3>Users</h3>


@if (users == null)
{
    <LoadingComponent Message="Loading users..." />
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>User name</th>
                <th>Phone</th>
                <th>Email</th>
            </tr>

        </thead>
        <tbody>
            @foreach (var user in users)
            {
                <tr>
                    <td><NavLink target="_blank" href=@($"/users/{user.Id}")>@user.Name</NavLink> </td>
                    <td>@user.UserName</td>
                    <td>@user.Phone</td>
                    <td>@user.Email</td>
                </tr>                 
            }
        </tbody>
        <tfoot>
            <tr>
                <td>Count: @users.Count()</td>
            </tr>
        </tfoot>


    </table>


}


@code {
    private IEnumerable<User> users;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(TimeSpan.FromSeconds(5));

        users = await Api.GetUsers();
    }



}
