@page "/products/edit/{id:int}"
@inject ProductService Api
@inject NavigationManager NavigationManager


<h3>Product Edit</h3>

@if (product != null)
{
    <EditForm Model="product" OnValidSubmit="HandleValidSubmit">

        <DataAnnotationsValidator />
        <ValidationSummary />

        <label for="name">Name</label>
        <InputText id="name" @bind-Value="product.Name" class="form-control" />
        <ValidationMessage For="@(()=>product.Name)" />


        <label for="description">Description</label>
        <InputTextArea id="description" @bind-Value="product.Description" class="form-control" />
        <ValidationMessage For="@(()=>product.Description)" />

        <label for="color">Color</label>
        <InputSelect id="color" @bind-Value="product.Color" class="form-select">
            @foreach(var color in colors)
            {
                <option value="@color">@color</option>
            }
        </InputSelect>

        <label for="size">Size</label>
        <InputSelect id="size" @bind-Value="product.Size" class="form-select">
            <option value="">Select size</option>

            @foreach(var size in sizes)
            {
                <option value="@size">@size</option>
            }

        </InputSelect>

        <label for="price">Price</label>
        <InputNumber id="price" @bind-Value="product.Price" class="form-control" />
        <ValidationMessage For="@(()=>product.Price)" />

        <div class="form-check">        
            <label for="hasDiscount" class="form-check-label">Has discount</label>
            <InputCheckbox id="hasDiscount" @bind-Value="product.HasDiscount" class="form-check-input" />
        </div>

        @if (product.HasDiscount)
        {
            <label for="discount">Discount</label>
            <InputNumber id="discount" @bind-Value="product.Discount" class="form-control" />
       }

        <button type="submit" class="btn btn-primary">Save</button>

    </EditForm>
}


@code {

    [Parameter]
    public int Id { get; set; }

    private Product product;

    private IEnumerable<string> colors;

    private Size[] sizes => Enum.GetValues<Size>();

    protected override void OnInitialized()
    {
        colors = new string[] { "Red", "Blue", "Green" };
    }

    protected override async Task OnParametersSetAsync()
    {
        product = await Api.GetById(Id);
    }

    private async Task HandleValidSubmit()
    {
        await Api.Update(product);

        NavigationManager.NavigateTo("/products");

    }

}

