@page "/users"
@using Shopper.Domain
@using Shopper.ClientApp.Services

@inject JsonPlaceholderService Api

<h3>Users</h3>


@if (users == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>User name</th>
                <th>Phone</th>
                <th>Email</th>
            </tr>

        </thead>
        <tbody>
            @foreach (var user in users)
            {
                <tr>
                    <td>@user.Name</td>
                    <td>@user.UserName</td>
                    <td>@user.Phone</td>
                    <td>@user.Email</td>
                </tr>                 
            }
        </tbody>
        <tfoot>
            <tr>
                <td>Count: @users.Count()</td>
            </tr>
        </tfoot>


    </table>
}


@code {
    private IEnumerable<User> users;

    protected override async Task OnInitializedAsync()
    {
        users = await Api.GetUsers();
    }



}
