@page "/users/{id:int}"
@using Vavatech.Shopper.Domain
@using Vavatech.Shopper.ClientApp.Services

@inject JsonPlaceholderService Api
@inject NavigationManager NavigationManager

<PageTitle>User @user?.Name</PageTitle>

<h3>User @Id</h3>


@if (user == null)
{
    <p><em>Loading...</em></p>
}

else
{
    <div>
        <p>@user.Name</p>
        <p>@user.UserName</p>
        <p>@user.Phone</p>
        <p>@user.Website</p>
    </div>
}


<div>
    <NavLink href="users" class="btn btn-primary">Go to Users</NavLink>

    <button class="btn btn-secondary" @onclick="NavigateToUsersAsync">Navigate to Users</button>
</div>


@code {

    [Parameter]
    public int Id { get; set; }

    private User user;

    protected override async Task OnParametersSetAsync()
    {
        user = await Api.GetUser(Id);
    }

    private async Task NavigateToUsersAsync()
    {    
        user.Name = user.Name.ToLower();

        await Task.Delay(TimeSpan.FromSeconds(3));

        NavigationManager.NavigateTo("users");
    }



}
